In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

Los datos a utilizar en el primer datframe se encuentran en: https://www.kaggle.com/datasets/thedevastator/global-video-game-sales

Este conjunto de datos, procedente de vgchartz.com, ofrece una gran cantidad de información sobre la dinámica entre plataforma y género para los 100 mejores videojuegos del mundo. Observe qué plataformas están impulsando las ventas globales, qué géneros han tenido más éxito en diferentes regiones del mundo y cómo estos dos factores han cambiado con el tiempo. ¡Analice estos datos para informar su comprensión de la industria del juego y descubra las tendencias que impulsan a los desarrolladores de juegos al éxito!

Como objetivos para este data set tenemos Sondear la relación entre el gasto en videojuegos y la satisfacción del usuario para comprender el comportamiento del consumidor y Examinar las combinaciones de plataformas y géneros más populares en los 100 mejores juegos para informar las decisiones de desarrollo de juegos.

Este es un problema de regresion para modelar la relación entre el gasto en videojuegos y la satisfacción del usuario. ya que este metodo me puede puede ayudar a descubrir que aspectos de los juegos son los mas valorados por los usuarios y se puede mejorar los juegos para satisfacer sus necesidad

El reto que representa este Data set es de modelizacion

In [20]:
df= pd.read_csv('/content/drive/MyDrive/Bootcamp Data Science/vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [25]:
# cuantas filas y columnas tiene?
df.shape
# con el metodo ".shape" podemos ver cuantas filas y cuantas columnas tiene el dataframe, en la primera entrada se representan el numero de filas y la segunda entrada representa el numero de columnas.

(16598, 11)

In [27]:
# para especificar las caracteristicas
caracteristicas = df.shape[1]
print(caracteristicas)

11